<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Insira seu e-mail<p class="subTitle">Para receber um link para redefinir sua senha</p></ion-title>
  </div>
  <div class="ion-padding">
    <ion-item>
        <ion-input type="email" [(ngModel)]="email" placeholder="Insira seu e-mail" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
    </ion-item>

   <div class="loginButton">
      <ion-button (click)="resetPassword()">Enviar</ion-button>
    </div>
  </div>
</ion-content>
