<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" icon="arrow-back-outline" class="back-custom"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="resetForm">
    <div class="header">
      <ion-title class="title">Insira seu e-mail</ion-title>
      <p class="subTitle">Para receber um link para redefinir sua senha</p>
    </div>
    <div class="ion-padding">
      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Insira seu e-mail"
          class="input">
        </ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <!-- Mensagens de erro -->
      <div class="erroControl" *ngIf="errorControl['email']?.touched && errorControl['email']?.invalid">
        <ion-text *ngIf="errorControl['email']?.errors?.['required']">
          O e-mail é obrigatório!
        </ion-text>
        <ion-text *ngIf="errorControl['email']?.errors?.['email'] || errorControl['email']?.errors?.['pattern']">
          O e-mail deve ser válido!
        </ion-text>
        <ion-text *ngIf="errorControl['email']?.errors?.['emailNaoEncontrado']">
          Este e-mail não está cadastrado!
        </ion-text>
      </div>
     <div class="loginButton">
        <ion-button (click)="resetPassword()">Enviar</ion-button>
      </div>
    </div>
  </form>
</ion-content>
