<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title">Welcome Back</ion-title>
    <p class="subTitle">Faça login para acessar sua conta</p>
  </div>

  <form [formGroup]="loginForm">
    <div class="ion-padding">
      
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div class="erroControl" *ngIf="loginForm.controls?.['email']?.touched && loginForm.controls?.['email']?.invalid">
        <ion-text *ngIf="errorControl['email']?.errors?.['required']">
          O e-mail é obrigatório!
        </ion-text>

        <ion-text *ngIf="errorControl['email']?.errors?.['pattern']">
          O e-mail deve ser válido!
        </ion-text>
      </div>

      <ion-item>
        <ion-input  formControlName="password" type="password" placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="erroControl" *ngIf="loginForm.controls?.['password']?.touched && loginForm.controls?.['password']?.invalid">
        <ion-text *ngIf="errorControl['password']?.errors?.['required']">
          A senha é obrigatório!
        </ion-text>

        <ion-text *ngIf="errorControl['password']?.errors?.['pattern']">
          A senha deve ter pelo menos:
          <br>
          Um caractere
          <br>
          Uma letra maiúscula
          <br>
          Um número
          <br>
          Conter 8 dígitos
        </ion-text>
      </div>

      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']">Esqueceu sua senha?</a>
      </div>

      <div class="loginButton">
        <ion-button (click)="login()">Entrar</ion-button>
      </div>
      
      <div class="signupLink">
        <p>Não tem conta?<a [routerLink]="['/register']">Cadastre-se agora</a></p>
      </div>
    </div>
  </form>

</ion-content>
