ion-item{
    margin-bottom: 16px;
    --inner-border-width: 0;
    --border-width: 0;
    border: 2px solid var(--cor-neutra-4);
    border-radius: 10px;
}

.input{
    font-size: 300;
    border-bottom: none;
    box-shadow: none;
}

.adcButton{
    width: 100%;

    ion-button{
        width: 100%;
        margin-top: 16px;
        --padding-start: 15px;
        --padding-end: 15px;
        --padding-top: 15px;
        --padding-bottom: 15px;
        --border-radius: 10px;
        --background: var(--cor-neutra-4); 
        color: var(--cor-neutra-1);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }
}