<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <h4 class="p-4">Nova tarefa</h4>
   
  </div>


    <div class="ion-padding">

      <ion-item>
        <ion-input 
        [(ngModel)]="title"
        class="input"
        type="text"
        placeholder="título"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-input 
        [value]="date"
        (ionInput)="formatarData($event)"
        class="input"
        type="text"
        inputmode="numeric"
        placeholder="dd/mm/aaaa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea 
        [(ngModel)]="content"
        class="input"
        [autoGrow]="true"
        placeholder="adicione uma descrição"></ion-textarea>
      </ion-item>

      <div class="adcButton">
        <ion-button (click)="addTask()">Adicionar</ion-button>
      </div>
    </div>

</ion-content>
