<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Programação</ion-title>

    <ion-buttons slot="end">
      <ion-button color="medium">
        <ion-icon  name="ellipse" class="large-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h4 class="p-4">Tarefas do dia</h4>
  
    <ion-grid fixed>
      <ion-row>
        <!--Card 01-->
        <ion-col size="12" *ngFor="let task of tasks">
          <ion-card class="dark" [ngClass]="{ 'completedTask': task.status == true }">
            <ion-card-header>
              <div class="cardTitle">
                <div class="cardTitleLeft">
                  <ion-checkbox (click)="concTask(task)" [(ngModel)]="task.status"></ion-checkbox>
                  <ion-card-title>{{task.title}}</ion-card-title>
                </div>

                <div class="cardTitleRight">
                  <ion-icon name="open-outline" (click)="openTask(task)"></ion-icon>
                </div>
                
              </div>
             
              <ion-card-subtitle class="cardSubTitle"> 
                <div>
                  <ion-icon name="remove-circle-outline" class="fl" id="pd"></ion-icon>
                  <p>{{ task.status ? 'Concluído' : 'Pendente' }}</p>
                </div>
                <div>
                  <ion-icon name="today-outline" class="fl"></ion-icon>
                  <p>{{task.createdAt}}</p>
                </div>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>{{task.content}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!--Card 01-->
        <!--<ion-col size="12">
          <ion-list>
            <ion-item-sliding>
              <ion-item>

              </ion-item>
              <ion-item-options side="end">
                <ion-item-option>
                  <ion-icon name="create-outline" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>

          <ion-card class="dark">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <p>Há tarefas<br>a fazer</p>
                <ion-icon name="chevron-forward-outline" class="fr icon-go" [routerLink]="['/display-task']"></ion-icon>
                <h2>Teste de Matemática e ciencia</h2>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>-->
  
        <!--Card 02-->
        <!--<ion-col size="12">
          <ion-card class="dark">
            <ion-card-content>
              <div class="title">
                <ion-icon name="book-outline" class="fl"></ion-icon>
                <p>Há tarefas<br>a fazer</p>
                <ion-icon name="chevron-forward-outline" class="fr icon-go"></ion-icon>
                <h2>Academia</h2>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>-->
      </ion-row>
    </ion-grid>
  
  </div>
</ion-content>
