.ion-padding{
    h4{
        color: var(--cor-neutra-4);
        font-weight: 600;
    }
}

ion-grid, ion-col{
    padding: 0;
}

ion-card{
    margin: 4px;
    box-shadow: none; //Sombramento dos cards
    border-radius: 16px;
}

.title{

    //Icon dos cards
    ion-icon:first-child, ion-badge{
        font-size: 20px;
        color: var(--cor-neutra-3);
        background-color: var(--cor-neutra-1);
        margin-top: 6px;
        margin-right: 14px;
        padding: 4px;
        border: 1px solid var(--cor-neutra-0);
        border-radius: 8px;
    }

    ion-badge{
        width: 32px;
    }

    p{
        font-size: 14px;
        line-height: 20px;
    }

    h2{
        font-size: 32px;
        font-weight: bold;
        margin-top: 14px;
    }

    mb{
        padding-bottom: 8px;
    }

}

ion-card-title{
    color: var(--cor-neutra-1);
}

.task-card{

    display: flex;
    align-content: center;
    align-items: center;
    gap: 50px;

    div{
        display: flex;
        align-content: center;
        align-items: center;
    }

    ion-icon:first-child{
        font-size: 20px;
        color: var(--cor-neutra-3);
        background-color: var(--cor-neutra-1);
        padding: 4px;
        border: 1px solid var(--cor-neutra-1);
        border-radius: 8px;
        margin-right: 14px;
    }

}

.teste{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}