.avatar{
     ion-avatar{
        width: 40px;
        height: 40px;
        --border-radius: 50%;
        color: var(--cor-neutra-1);
    }
}

.ion-padding{
    h4{
        color: var(--cor-neutra-4);
        font-weight: 600;
    }
}

ion-grid, ion-col{
    padding: 0;
}

ion-card{
    margin: 4px;
    box-shadow: none; //Sombramento dos cards
    border-radius: 16px;
    
}

.completedTask{
    text-decoration: line-through;
}

ion-card-title{
    color: var(--cor-neutra-1);
}

.cardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cardTitleLeft{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .cardTitleRight{
        display: flex;
        align-items: center;

        ion-icon{
            font-size: 20px;
        }
    }
}

ion-checkbox::part(container) {
  background: transparent !important; /* Remove o fundo branco */
  border: 2px solid var(--cor-neutra-1); /* Borda personalizada */
  border-radius: 8px;
  padding: 4px;
  --size: 30px;
}

.cardSubTitle{

    display: flex;
    align-content: center;
    align-items: center;
    gap: 50px;

    div{
        display: flex;
        align-content: center;
        align-items: center;
        gap: 14px;
    }

    ion-icon:first-child{
        font-size: 20px;
        color: var(--cor-neutra-3);
        background-color: var(--cor-neutra-1);
        padding: 4px;
        border: 1px solid var(--cor-neutra-1);
        border-radius: 8px;
    }
}