<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
  
      <ion-buttons slot="end">
        <ion-button color="medium" class="avatar">
          <ion-avatar slot="start" class="dark">
            <img [src]="avatarUrl"/>
          </ion-avatar>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ion-padding">
      <h4 class="p-4">Dashboard</h4>
  
      <ion-grid fixed>
        <ion-row>
          <!--Card 01-->
          <ion-col size="6">
            <ion-card class="dark">
              <ion-card-content>
                <div class="title">
                  <ion-icon name="book-outline" class="fl"></ion-icon>
                  <p>Tarefas pendentes</p>
                  <h2>{{pendingToday}}</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <!--Card 02-->
          <ion-col size="6">
            <ion-card class="medium">
              <ion-card-content>
                <div class="title">
                  <ion-icon name="mail-outline" class="fl"></ion-icon>
                  <p>Tarefas concluídas</p>
                  <h2>{{todayCompletionPercentage}}%</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <!--Card 03-->
          <ion-col size="6">
            <ion-card class="medium">
              <ion-card-content>
                <div class="title">
                  <ion-icon name="bar-chart-outline" class="fl"></ion-icon>
                  <p>Total de tarefas</p>
                  <h2>{{totalTasks}}</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
          <!--Card 04-->
          <ion-col size="6">
            <ion-card class="medium">
              <ion-card-content>
                <div class="title">
                  <ion-icon name="reader-outline" class="fl"></ion-icon>
                  <p>Tarefas do dia</p>
                  <h2>{{tasksToday}}</h2>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
  