<ion-content fullscreen class="welcome-screen">
  <div class="wave-top"></div>

  <div class="text-section">
    <h1>Olá, bem-vindo!</h1>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  </div>

  <button id="circle" >
    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="circle" [routerLink]="['/login']">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>