<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title">Welcome</ion-title>
    <p class="subTitle">Cadastre-se para criar sua conta</p>
  </div>

  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" type="text" placeholder="Usuário" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div class="erroControl" *ngIf="regForm.controls?.['fullname']?.touched && regForm.controls?.['fullname']?.invalid">
        <ion-text *ngIf="errorControl['fullname']?.errors?.['required']">
          O usuário é obrigatório!
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div class="erroControl" *ngIf="regForm.controls?.['email']?.touched && regForm.controls?.['email']?.invalid">
        <ion-text *ngIf="errorControl['email']?.errors?.['required']">
          O e-mail é obrigatório!
        </ion-text>

        <ion-text *ngIf="errorControl['email']?.errors?.['pattern']">
          O e-mail deve ser válido!
        </ion-text>

        <ion-text *ngIf="errorControl['email']?.errors?.['emailEmUso']">
          Este e-mail já está em uso!
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="erroControl" *ngIf="regForm.controls?.['password']?.touched && regForm.controls?.['password']?.invalid">
        <ion-text *ngIf="errorControl['password']?.errors?.['required']">
          A senha é obrigatório!
        </ion-text>

        <ion-text *ngIf="errorControl['password']?.errors?.['pattern']">
          A senha deve ter pelo menos:
          <br>
          Um caractere.
          <br>
          Uma letra maiúscula.
          <br>
          Um número.
          <br>
          Conter 8 dígitos.
        </ion-text>
      </div>

      <div class="loginButton">
        <ion-button (click)="signUp()">Cadastrar</ion-button>
      </div>
      
      <div class="signupLink">
        <p>Já tem conta?<a [routerLink]="['/login']">Faça login agora</a></p>
      </div>

    </div>
  </form>
  
</ion-content>
